{{> header }}
<main class="main">
  {{> tab tab }}
  <section class="main__content main__content--categories" aria-label="Categories List">
      <h2 class="main__content__title">Categories list overview</h2>

      <ul class="list">
        <li class="list__item settings__item--work">work</li>
        <li class="list__item settings__item--education">education</li>
        <li class="list__item settings__item--hobby">hobby</li>
        <li class="list__item settings__item--sport">sport</li>
        <li class="list__item settings__item--other">other</li>
      </ul>

      <div class="main__control">
        <button class="main__control__button main__control__button--blue js-btn-to-tasks">
          Go to Tasks
        </button>
      </div>
    </section>
</main>

