{{> header}}
<main id="main" class="main main--static">
  {{> tab}}
  
  <div class="main__reports">
    <a href="/#/task-list" class="main__reports__link main__reports__link--left icon-arrow-left" title="Go to Global List"></a>
    <div class="main__reports__container js-reports-container" id="reports-container">
    </div>
  </div>
  {{> tab bottomTabs}}
</main>