<div class="first-screen">
  <img src="./images/tomato-add.svg" alt="Logo" class="first-screen__logo" />
  <div class="first-screen__message">
    <p>
      Add your first task
    </p>
  </div>
</div>