{{> header data}}
<main class="main">
  {{> tab data.tab}}
<div class="first-screen">
  <img
    src="./images/tomato_settings.svg"
    alt="Logo"
    class="first-screen__logo"
  >
  <div class="first-screen__message">
    <p>
      As you visited site for a first time you can
          check and customize your default
          application settings
    </p>
  </div>
  <div class="first-screen__buttons">
    <button class="first-screen__button first-screen__button--blue js-btn-skip">
      Skip
    </button>
    <button class="first-screen__button first-screen__button--mint js-btn-to-settings">
      Go to settings
    </button>
  </div>
</div>
</main>