<div class="main__content--message">
    <div>
      <p>Task added,</p>
      <p>Go it to the top 5 in daily task list</p>
      <span class="main__content__icon icon-arrow_circle"></span>
    </div>
</div> 