<div class="first-screen">
  <img
    src="./images/tomato-addv02.svg"
    alt="Logo"
    class="first-screen__logo first-screen__logo--width--200"
  />
  <div class="first-screen__message">
    <p>
      You don’t have any tasks left.
    </p>
    <p>
      Add new tasks to stay productive.
    </p>
  </div>
</div>