<div class="notification notification--{{type}} js-notification">
  <div class="notification__icon">
    <span class="icon-tomato"></span>
  </div>
  <p class="notification__text">
    {{text}}
  </p>
  <button class="notification__close icon-close js-clear-notification"></button>
</div>